DB_USER=synckuropos
DB_PASSWORD=change_me_use_strong_password
DB_NAME=synckuropos
CORS_ORIGIN=https://tu-dominio.com,http://localhost:5173
JWT_SECRET=cambiar_por_un_secreto_largo_y_aleatorio
CF_TUNNEL_TOKEN=token_del_tunel_de_cloudflare
