/* Importar una fuente moderna (Inter es excelente para números y tablas) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    font-family: 'Inter', var(--font-family);
    font-size: 14px; 
    --surface-ground: #f8f9fa; 
}

body {
    background-color: var(--surface-ground);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.p-inputtext {
    border-radius: 8px;
    padding: 0.75rem;
}

.p-button {
    border-radius: 8px;
    font-weight: 600;
}

/* Utilidad para quitar el borde focus azul por defecto y usar el del tema */
:focus-visible {
    outline: none;
}